* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Garamond, serif;
}

body {
    background-color: #1a5218;
    
}

header {
    background-color: #1A5218;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

header .logo h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    
}

header .logo p {
    font-size: 1.1rem;
    opacity: 0.8;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    background-color: #30632F;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}


.about {
    background-repeat: repeat;
    padding: 50px 20px;
    text-align: center;
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
}

.about p {
    color: #fff;
    font-size: 1.5rem;
    line-height: 28px;
    max-width: 800px;
    margin: 0 auto;
}


.shop {
    padding: 50px 20px;
    background-color: #f8f8f8;
    text-align: center;
}

.shop h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.product {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}
.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product h3 {
    margin-top: 20px;
    font-size: 1.5rem;
}

.product p {
    font-size: 1.1rem;
    margin: 10px 0;
}

.product button {
    background-color: #1a5218;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.product button:hover {
    background-color: #1f631d;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
